body {
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url(../pics/desktop.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  font-family: 'Gloria Hallelujah', cursive;
}
h1,h2{
  margin: 0;
  text-align: center;
  background: linear-gradient(rgba(200, 200, 200, 0.5), rgba(255, 255, 255, 0.5));
}
.teacher{
  display: none;
  background-image: url(../pics/teacher.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 220px;
  height: 400px;
  bottom: 0;
}
.keyboard {
  width: 190px;
  border: 2px solid rgba(255, 0, 0, 0.7);
  background-color: rgba(255, 0, 0, 0.7);
  font-family: 'Nova Mono', monospace;

  margin-left: auto;
  margin-right: auto;

}
.keyboard span {
  display: inline-block;
  margin: .4em;
  padding: .3em;
  font-size: 30px;
  cursor:pointer;
  border-radius: 20px;
  border: 1px solid grey;
  background-color: rgba(255,255,255,.5);
}
.keyboard span:active,.results span:active {
  background-color: yellow;
}
.factors {
  width: 350px;
  border: 2px solid rgba(0, 255, 255, 0.5);
  background-color: rgba(0, 255, 255, 0.5);

  font-family: 'Nova Mono', monospace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: right;
}

.factors div {

}
.factors  span {
  display: inline-block;
  margin: .4em;
  padding: .3em;
  font-size: 30px;

}
.results {
  width: 350px;
  border: 2px solid rgba(255, 0, 255, 0.5);
  background-color: rgba(255, 0, 255, 0.5);

  font-family: 'Nova Mono', monospace;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  text-align: right;
}

.results span {
  margin: .4em;
  padding: .3em;
  font-size: 30px;
  display: inline-block;
  cursor:pointer;
  border: 1px solid grey;
  background-color: rgba(255,255,255,.5);
  border-radius: 20px;

}


.message {
  display: none;
  width: 200px;
  height: 200px;
  background-image: url(../pics/vignette-right.svg);
}

.result-query {
 border: 2px solid yellow !important;
}
.result-error {
 border: 2px solid red !important;
}
.result-positive {
 border: 2px solid green !important;
}
.result-empty {
 border: none !important;
 background: none !important;
}
